{
    "swagger": "2.0",
    "info": {
        "description": "Lightroom API Documentation, made available through [adobe.io](https://www.adobe.io). API Change Logs are available [here](https://bagra98.github.io/lightroom-public-apis/release-notes/).",
        "version": "1.0.0",
        "title": "Lightroom API Documentation",
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "servers": [
        {
            "url": "https://image.adobe.io/"
        }
    ],
    "tags": [
        {
            "name": "health",
            "description": "Lightroom Services status.",
            "externalDocs": {
                "description": "More info",
                "url": "https://www.adobe.io"
            }
        },
        {
            "name": "accounts",
            "description": "Account information for the authenticated user."
        },
        {
            "name": "catalogs",
            "description": "Catalog information for the authenticated user."
        },
        {
            "name": "assets",
            "description": "Information for assets, typically images or videos."
        },
        {
            "name": "albums",
            "description": "Information for albums, which contain references to zero or more assets."
        }
    ],
    "paths": {
        "/v2/health": {
            "get": {
                "tags": [
                    "health"
                ],
                "summary": "Lightroom Services health check",
                "description": "Will return the Lightroom server version ID (a hexadecimal value not guaranteed to be sequential) if the services are up.",
                "operationId": "getHealth",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                    "name": "X-API-Key",
                    "in": "header",
                    "description": "Client ID (API Key) which is subscribed to the Lightroom APIs through console.adobe.io",
                    "required": true,
                    "type": "string"
                    }
                ],
                "responses": {
                    "200 (OK)": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "version": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "403 (Invalid Key)": {
                        "$ref": "#/components/responses/ForbiddenKey"
                    },
                    "503 (Unavailable)": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    }
                }
            }
          }
    }
}